.jumbotron {
    background-color: yellowgreen;
    margin-top: 50px;
}

.footer {
    background-color: yellowgreen;
    margin-top: 40px;
    padding-top: 40px;
}

.card-hotel {
    flex: 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.head {
    background-color: teal;
}

.slider {
    height: 300px;
    width: 100%;
}

.tab-content {
    margin-top: 10px;
}

.slider {
    margin-top: 15px;
}