.jumbotron {
  background-color: #9acd32;
  margin-top: 50px;
  margin-bottom: bottom;
}
.footer {
  background-color: #9acd32;
  margin-top: 40px;
  margin-bottom: bottom;
  padding-top: 40px;
}
.card-hotel {
  flex: 200px;
  margin-top: 10px;
  margin-bottom: bottom;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.head {
  background-color: #008080;
}
.slider {
  height: 300px;
  width: 100%;
}
.tab-content {
  margin-top: 10px;
  margin-bottom: bottom;
}
.slider {
  margin-top: 15px;
  margin-bottom: bottom;
}
