.jumbotron {
  background-color: #460b2d;
  margin-top: 50px;
  margin-bottom: 10px; }

.footer {
  background-color: #460b2d;
  margin-top: 40px;
  margin-bottom: 0px;
  padding-top: 40px; }

.card-hotel {
  flex: 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.head {
  background-color: #008080; }

.slider {
  height: 300px;
  width: 100%; }

.tab-content {
  margin-top: 10px;
  margin-bottom: 0px; }

.slider {
  margin-top: 15px;
  margin-bottom: 0px; }
