@yellow: #9acd32;
@celeste: #008080;
.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: bottom;
}

.jumbotron {
    background-color: @yellow;
    .margenes(50px, 10px);
}

.footer {
    background-color: @yellow;
    .margenes(40px, 0px);
    padding-top: 40px;
}

.card-hotel {
    flex: 200px;
    .margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.head {
    background-color: @celeste;
}

.slider {
    height: 300px;
    width: 100%;
}

.tab-content {
    .margenes(10px, 0px);
}

.slider {
    .margenes(15px, 0px);
}