// $yellow: #9acd32;
$yellow: #c72483;
$celeste: #008080;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    @include margenes(50px, 10px);
}

.footer {
    background-color: $yellow;
    @include margenes(40px, 0px);
    padding-top: 40px;
}

.card-hotel {
    flex: 200px;
    @include margenes(10px, 0px);
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.head {
    background-color: $celeste;
}

.slider {
    height: 300px;
    width: 100%;
}

.tab-content {
    @include margenes(10px, 0px);
}

.slider {
    @include margenes(15px, 0px);
}